/* styles.css */

.App {
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #777474;
  }
  
  p {
    font-size: 18px;
    color: #333;
  }

  h2{
    font-size: 40px;
    padding-top: -1%;
  }

.infos{
    background-color: #bbbbbb;
    border-radius: 10px;
}

.geral{
    padding: 1% 30% 1% 30%;
}


.bom-negocio, .meh-negocio, .ruim-negocio{
  border: 2%;
  padding: 5%;
  border-radius: 10px;
}

.bom-negocio{
  background-color: rgb(10, 175, 51);
  color: white; 
}

.meh-negocio{
  background-color: rgb(196, 192, 10);
  border-radius: 10px;
  color: white; 
}

.ruim-negocio{
  background-color: rgb(196, 10, 10);
  border-radius: 10px;
  color: white; 
}